.form-heading {
	font-family: var(--markazi);
	color: var(--p1);
	font-size: 2rem;
	font-weight: 800;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form__input-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
	margin-bottom: 3rem;
}

.form__label {
	width: 15rem;
	font-family: var(--karla);
	font-weight: 800;
	text-transform: uppercase;
}

.form__input:invalid {
	border: 1px solid red;
}

.form__hint {
	color: var(--s1);
	margin-bottom: 3rem;
	width: 100%;
}

.form__invalid .form__label,
.form__invalid .form__input {
	color: var(--s1);
}
.form__invalid .form__input {
	border: 1px solid var(--s1);
}

.form__input {
	padding: .5rem;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	border: 1px solid var(--s4);
	border-radius: 1rem;
}

input[type='submit']{
	margin-top: 2rem;
	display: block;
	max-width: 15rem;
	font-weight: 800;
	font-family: var(--karla);
	font-size: 1rem;
}