.button {
	background-color: var(--p2);
	color: var(--dark);
	padding: 1rem 2rem;
	border-radius: 1rem;
	transition: background-color .3s;
	border: none;
}

.button:hover {
	background-color: var(--dark);
	color: var(--s3);
	transition: background-color .3s;
}