.button {
	background-color: var(--p2);
	color: var(--dark);
	padding: 1rem 2rem;
	border-radius: 1rem;
	transition: background-color .3s;
	border: none;
}

.button:hover {
	background-color: var(--dark);
	color: var(--s3);
	transition: background-color .3s;
	cursor: pointer;
}

.button:disabled {
	background-color: var(--s3);
	opacity: .5;
}

.button:disabled:hover{
	background-color: var(--s3);
	cursor:auto;
	color: var(--dark);
}